$link-color: #369

.header-row
  background-color: #eee

.content table
  width: 100%

// Fix for bug in current version of foundation as of 7/23/2012
.has-flyout:hover
  ul.flyout
    display: block
